@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

p,
span {
    font-family: 'Playfair Display', serif;
    margin: 0;
}

.box_one_category_product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.eventimg {
    width: 200px;
    height: 250px;
    border-radius: 15%;
}

.event-date-text {
    margin: 0px 15px 0px 10px;
    color: var(--color-6);
}

.event-reverse-date {
    padding-left: 30px;
    padding-top: 10px;
    color: var(--color-5);
    font-size: 20px;
}

.event-name-text {
    margin: 0px 15px 0px 10px;
    font-size: 20px;
}

.event-reverse-name {
    padding-left: 30px;
    padding-top: 70px;
    color: var(--color-5);
    font-size: 40px;
}

.event-location-text {
    margin: 30px 15px 0px 10px;
    color: var(--color-6);
}

.event-reverse-location {
    padding-left: 30px;
    color: rgb(221, 221, 221);
    font-size: 20px;
}

.event-price-text {
    margin: 0px 15px 0px 10px;
    font-size: 20px;
}

.event-button {
    margin: 50px 30px;
    background-color: var(--color-2);
    border: 5px solid var(--color-5);
    padding: 10px 20px;
    width: 120px;
    color: var(--color-5);
    /* z-index: 1; */
}

.event-button:hover {
    color: var(--color-2);
    background-color: var(--color-5);
    z-index: 10;
}

.all_product_one_catgory_button {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 60px;
    color: var(--color-5);

    border-color: var(--color-5);
    border-width: 2px;
    border-style: double;

    border-radius: 30px;
    font-family: 'Playfair Display', serif;

}

.all_product_one_catgory_button:hover {
    transition: 2s;
    background-color: var(--color-1);
}

.arrow_all {
    width: 20px;
    margin-left: 5px;
}

.card-white {
    background-color: var(--color-5);
    color: var(--color-7);
    padding: 10px;
    width: 220px;
    height: 410px;
    border-radius: 30px;
    margin: 1vw;
    position: relative;
}

.card-pink {
    background-color: var(--color-2);
    width: 220px;
    height: 410px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    visibility: hiddens;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    user-select: none;
}

.card-pink:hover {
    visibility: visible;
    opacity: 100;
}