@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

a {
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    color: #cf5549;
}

.authbtn {
    padding-right: 20px;
    font-size: 25px;
}