@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');


.box_notfound_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.text_page {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    color: rgb(238, 236, 236);
}

.button_home {
    position: relative;
    display: inline-block;

    text-align: center;

    border: none;
    border-radius: 30px;
    padding: 4px 15px;

    font-family: 'Playfair Display', serif;
    font-size: 25px;

    color: #fff;
    background: linear-gradient(90deg, #F67B6F, #F67B6F, #F67B6F, #F67B6F);
    background-size: 400%;
    z-index: 1;
}

.button_home:hover {
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.button_home:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: .5s;
}

.button_home:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}