@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

a {
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
}

.box_links {
    display: flex;
    flex-direction: row;
}

.button_links_navBar {
    width: 10vw;
    min-width: 120px;
    max-width: 300px;
    height: 70px;
    background-color: var(--color-2);
    border-radius: 30px;
    padding: 5px 5px 5px 15px;
    margin-right: 5px;

    color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.img_links {
    width: 40px;
    height: 40px;
    margin-right: 4%;
}

.button_links_navBar:hover {
    background-color: #476160;
    transition: all 0.5s;
}