@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

.auth_page {
    display: flex;
    flex-direction: column;

    color: var(--color-5);
}

.auth_pagetitle {
    display: flex;
    align-self: center;
    justify-content: center;

    margin: 2rem 2rem 1.5rem 2rem;

    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 3rem;
}

.txt_recovery {
    text-align: center;
}

.auth_login {
    display: flex;
    justify-content: center;

    margin-top: 1rem;
}

.auth_span {
    margin-right: 1rem;

    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 1.5rem;
}

.auth_input {
    padding-left: 1.2rem;
    width: 12rem;

    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 1rem;
}

.recovery_button {
    align-self: center;
    padding: 1rem;
    margin-top: 2rem;

    width: 15rem;
    border-radius: 2rem;
    border: 3px solid var(--color-5);

    background-color: var(--color-3);
    color: var(--color-5);

    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 1.5rem;

    transition: all 0.3s ease;
}

.recovery_button:hover {
    background-color: var(--color-4);
}

.aboba {
    display: flex;
    justify-content: center;
}

.auth_error {
    display: flex;
    justify-content: center;

    color: var(--color-1);

    margin-top: 1rem;
    font-size: 1.5rem;
}