.eventlist {
    padding: 200px 50px 200px 50px;
}

.box_product_main_page {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: auto;
}

.category_prodyct {
    background-color: #F67B6F;
    padding: 5px;
    margin: 5%;
    border-radius: 30px;
    border-style: double;
    border-color: #ffffff;
    border-width: 1vw;
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 140%;
    text-align: center;
    margin-bottom: 5%;
}