.profset_box {
    width: 925px;
    height: auto;
    background-color: var(--color-8);
    margin: 200px;
    padding: 30px 50px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.profset_upper_text {
    color: var(--color-4);
    font-size: 30px;
    user-select: none;
    width: 100%;
    text-align: center;
}

::selection {
    color: var(--color-8);
    background: var(--color-4);
}

.profset_editable_box {
    margin: 50px 200px;
}

.profset_row {
    display: flex;
    flex-direction: row;
}

.pofset_input_text {
    font-size: 20px;
    margin-top: 30px;
    user-select: none;
    color: var(--color-4);
}

.profset_input {
    margin-left: 30px;
    margin-top: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--color-3);
    width: 300px;
}

.profset_input:focus,
.profset_input:active {
    outline: none;
}

.profset_avatar {
    margin: 20px auto;
    border: 4px solid var(--color-4);
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.profset_avatar_label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 45px;
    margin-right: 37.5%;
    padding: 8px 20px 7px;
    border-radius: 15px;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    text-align: center;
    background-color: var(--color-3);
    color: var(--color-5);
    cursor: pointer;
    transition: all 0.3s ease;
}

.profset_avatar_label:hover {
    background-color: var(--color-6);
}

.profset_avatar_input {
    display: none;
}

.profset_button {
    width: 20vw;
    background-color: var(--color-4);
    border-radius: 30px;
    border: none;

    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: var(--color-5);
    padding: 10px;
    margin: 60px 10% 20px 0;

    transition: all 0.3s ease;
}

.profset_button:hover {
    background-color: var(--color-1);
}